.definition {
    display: flex;
    padding: 50px 140px;
    &_text {
        margin-left: 100px;
        p {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }

    .definition img {
        width: 520px;
        height: 520px;
        margin-top: 50px;
    }
}