footer {
    ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    }

    img {
    width: 220px;
    transition: 0.5s;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        transition: 0.7s;
        }
    }
}