header {
    text-align: center;
    ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, 255px);
        grid-gap: 40px;
        background-color: #BCBAA6;
        justify-content: center;
        margin: 0px;
        padding: 15px;
            @media all and (max-width: 1024px) {
                grid-gap: 10px;
            }
        li {
            transition: 0.5s;
            cursor: pointer;
            &:hover {
                transform: scale(1.05);
                transition: 0.7s;
            }
        }
    }
    img {
    justify-content: center;
    width: 300px;
    object-fit: cover;
    }
} 
