@import "header.scss";
@import "presentation.scss";
@import "definition.scss";
@import "appel.scss";
@import "footer.scss";


body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 35px;
    background-color: #F4EEEE;
    margin: 0px;
}