@import "header.scss";
@import "presentation.scss";
@import "service.scss";
@import "appel.scss";
@import "footer.scss";


body {
    font-family: 'Abel', sans-serif;
    font-size: 35px;
    background-color: #EBE6DD;
    margin: 0px;
}